<h1>Upload Your CSV File Here:</h1>
<form action="/files/new" method="post" enctype="multipart/form-data">

    <input type="file" name="csvFile" placeholder="CSV File">
    <input type="submit" value="Upload">

</form>